freemem.tmc
TMbase.genui
TMbase.tbl
DACS_col.tmc
waves_C.cmd
waves_C.out
waves_C.tmc
waves_C.m
waves_C.log
qcli_types.tmc
QCLI_C.tmc
QCLI_C_col.tmc
qclia.cmd
QCLI_C.cmd
QCLI_C_conv.tmc
QCLI_C.genui
QCLI_C.tbl
SSP_C_amp.tmc
SSP_C_amp_col.tmc
SSP_C_amp.genui
ME_Bay.tmc
ME_Bay_col.tmc
ME_Bay.cmd
ME_Bay.genui
ME_Bay.tbl
ME_CO2.tmc
ME_CO2_col.tmc
ME_CO2.cmd
ME_CO2.genui
ME_CO2.tbl
ME_CH4.tmc
ME_CH4_col.tmc
ME_CH4.cmd
ME_CH4.genui
ME_CH4.tbl
CPC.tmc
CPC_col.tmc
CPC.cmd
CPC.genui
CPC.tbl
GD.tmc
GD_col.tmc
GD.cmd
GD.genui
GD.tbl
uDACS.genui
uDACS.tbl
uDACS_CO2_conv.tmc
focalcmd.cc
focalcmd.dat
focalcmd.h
focalsrvr.o
focalsrvroui.cc
focalsrvroui.o
focaltblnc.tmc
uDACStblnc.tmc
MEtblnc.tmc
alicattblnc.tmc
focaldispnc.cc
focaldispncoui.cc
focaldispnc.o
focaldispncoui.o
focalalgoa.tmc
focalalgo.cc
focalalgooui.cc
focalalgo.o
focalalgooui.o
doit.dep
focalcltnc.o
focalcltncoui.cc
focalcltncoui.o
focalcol.cc
tm.dac
focalcoloui.cc
focalcol.o
focalcoloui.o
focalengext.cdf
focalengextcdf.oui
focalengextcdf.tmc
focalengext.cc
focalengextoui.cc
focalengext.o
focalengextoui.o
focaltblnc.tmc.dep
uDACStblnc.tmc.dep
MEtblnc.tmc.dep
alicattblnc.tmc.dep
*.err
freemem.tmc
TMbase.genui
TMbase.tbl
DACS_col.tmc
qcli_types.tmc
waves_C.tmc
QCLI_C.tmc
QCLI_C_col.tmc
qclia.cmd
QCLI_C.cmd
QCLI_C_conv.tmc
QCLI_C.genui
QCLI_C.tbl
SSP_C_amp.tmc
SSP_C_amp_col.tmc
SSP_C_amp.genui
ME_Bay.tmc
ME_Bay_col.tmc
ME_Bay.cmd
ME_Bay.genui
ME_Bay.tbl
ME_CO2.tmc
ME_CO2_col.tmc
ME_CO2.cmd
ME_CO2.genui
ME_CO2.tbl
ME_CH4.tmc
ME_CH4_col.tmc
ME_CH4.cmd
ME_CH4.genui
ME_CH4.tbl
CPC.tmc
CPC_col.tmc
CPC.cmd
CPC.genui
CPC.tbl
GD.tmc
GD_col.tmc
GD.cmd
GD.genui
GD.tbl
uDACS.genui
uDACS.tbl
uDACS_CO2_conv.tmc
Makefile
*.o
*.exe
*.stackdump
focalsrvr
focaldispnc
focalalgo
doit
focalcltnc
focalcol
focalengext
